:root {
    --lavendar: #E6E6FA;
    --whiteSmoke: : #F5F5FF;
    --semiGray: #c2c2cc33;
    --darkPink: #B39EB5;
    --charcoal: #2C2C2C;
    --lightPurple: #C8C8DB;
    --pastelPink: #D8BFD8;
    --grayPink: #776178;

    --indigo: #32127A;
    --softPink: #FFC9F8;
    --slateBlue: #6A5ACD;
    --teal: #00C9B7;
    --rose: #FFC3DA;
}

.white-smoke {
    background-color: var(--whiteSmoke);
}

.text-white-smoke {
    color: var(--whiteSmoke);
}

.semi-gray {
    background-color: var(--semiGray) !important;
}

.text-semi-gray {
    color: var(--semiGray);
}

.dark-pink {
    background-color: var(--darkPink);
}

.text-dark-pink {
    color: var(--darkPink);
}

.charcoal {
    background-color: var(--charcoal);
}

.text-charcoal {
    color: var(--charcoal);
}

.light-purple {
    background-color: var(--lightPurple);
}

.text-light-purple {
    color: var(--lightPurple);
}

.lavendar{
    background-color: var(--lavendar) !important;
} 

.text-lavendar {
    color: var(--lavendar) !important;
}

.pastel-pink {
    background-color: var(--pastelPink);
}

.text-pastel-pink {
    color: var(--pastelPink);
}

.gray-pink {
    background-color: var(--grayPink);
}

.text-gray-pink {
    color: var(--grayPink);
}

.indigo {
    background-color: var(--indigo) !important;
}

.text-indigo {
    color: var(--indigo) !important;
}

.softPink {
    background-color: var(--softPink) !important;
}

.text-softPink {
    color: var(--softPink) !important;
}

.slateBlue {
    background: var(--slateBlue) !important;
}

.text-slateBlue {
    color: var(--slateBlue) !important;
}

.teal {
    background-color: var(--teal) !important;
}

.text-teal {
    color: var(--teal) !important;
}

.rose {
    background-color: var(--rose) !important;
}

.text-rose {
    color: var(--rose) !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: var(--pastelPink) !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: var(--grayPink) !important;
}

.form-control::-webkit-input-placeholder {
    color: var(--indigo);
}

.container-bg-img {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/frontend/assets/images/hero-image.png");
    background-size: contain;
    background-position: center;
    min-height: 70vh; 
};

.checklist-img {
    width: 100%;
    height: 400px;
    background-image: url('assets/images/checklist.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  
  

.header-column div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1;
    border: 1px solid black;
    padding: 10px;
}

#main div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1;
    padding: 10px;
  }