:root {
    --lavendar: #E6E6FA;
    --whiteSmoke: : #F5F5FF;
    --semiGray: #c2c2cc33;
    --charcoal: #2C2C2C;
    --robinEggBlue: #00C6C2;
    --outerSpace: #435058;
   
    
    
    
}

.lavendar{
    background-color: var(--lavendar) !important;
} 

.text-lavendar {
    color: var(--lavendar) !important;
}

.white-smoke {
    background-color: var(--whiteSmoke);
}

.text-white-smoke {
    color: var(--whiteSmoke);
}

.semi-gray {
    background-color: var(--semiGray) !important;
}

.text-semi-gray {
    color: var(--semiGray);
}

.charcoal {
    background-color: var(--charcoal);
}

.text-charcoal {
    color: var(--charcoal);
}


.robinEggBlue {
    background-color: var(--robinEggBlue);
}

.text-robinEggBlue {
    color: var(--robinEggBlue) ;
}

.--outerSpace {
    background-color: var(--outerSpace);
}

.--outerSpace {
    color: var(--outerSpace);
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: var(--robinEggBlue) !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: var(--outerSpace) !important;
}

.form-control::-webkit-input-placeholder {
    color: var(--indigo);
}

.container-bg-img {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/hero-image.png");
    background-size: contain;
    background-position: center;
    min-height: 70vh; 
};

.checklist-img {
    width: 100%;
    height: 400px;
    background-image: url('assets/images/checklist.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  
  

.header-column div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1;
    border: 1px solid black;
    padding: 10px;
}

#main div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1;
    padding: 10px;
  }